html{
	font-family: 'Raleway', sans-serif;
	font-family: 'Catamaran', sans-serif;
}
.header{
	background-color: #F78D14;
	display: flow-root;
}
.header h1{
	font-size: 50px;
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
}
.header h2{
	font-size:35px;
	color: white;
	padding-bottom: 40px;
}
.derecha{
	float:right;
	margin-right: 50px;

}
.izquierda{
	float:left;
	margin-left: 30px;
}
.derecha a{
	padding-top: 70px;
}

.cuerpo{

}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 55px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: transparent;

}
form input{
	width: 100px;
	border: transparent;
	height:25px;
}